

  <!-- This header was added after the project on 12/30/2014 -->
  <header>
    <nav>
      <%= link_to "Home", "/" %>
         <%= link_to "About", "/" %>
      <a href="mailto:jen.dewalt@gmail.com">Contact</a>
      <a href="https://github.com/jendewalt">GitHub</a>
    </nav>
  </header>
  <!-- End header -->

  <div id="top_container">

    <a href="mailto:jen.dewalt@gmail.com"><img id="logo" src="images/jen_small.png"></a>

    <h1>Hi!</h1>

    <div id="info_container">
      <div>I'm Olana Abraham and I am making</div>
      <div class="orange">Guess my Number.</div>
      <div>You can follow the project here and on the <span><a href="http://blog.jenniferdewalt.com">blog</a></span>.</div>
    </div>

  </div>

  <div id="marquee_container">
    <div>Today's Website</div>
    <a href="node/hello_world">Hello World!</a>
  </div>

  <div id="website_list_container">
    <div>Day 2 <span><a href="make_a_deal.html">Make a Deal!</a></span></div>
    <div>Day 1 <span><a href="index.html">Homepage</a></span></div>
  </div>
